*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    
}
html{
    font-size: 10px;
}
.body{
    font-size: 10px;
}
.header{
 display: flex;
    font-size: 10px;
    max-height: 10em;
     border-bottom:  1rem solid #e31b23;
}
.nav{
    max-width: 100%;
   
}
.nav>a>img{
    max-height: 10em;

    padding-left: 5rem;
}
.link{
    height: 30px;
    width:200px;
    margin: auto 0px;
} 
.nav-link{
    width: 100%;
    font-size: 10px;
}
.nav-link>ul{
    display: flex;
    justify-content: flex-end;
}
.nav-link>ul>li{
    padding-right:3em;
    font-size: 2rem;
   
}
.nav-link{
margin:auto 0px ;

}
.fa{
    font-weight: 0.01px;
    color: #e31b23;
}
.form>a{
    color: grey;
}
.form:hover{
    text-decoration: underline;
}
.panner{
    max-width: ;
}
   
