@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300&family=Mochiy+Pop+P+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 16px;
}

body {
  font-family: "M PLUS 1", sans-serif;
}

.active {
  height: 15.9rem !important;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header nav > ul {
  height: 2.9rem;
  display: flex;
}
header nav > ul > li {
  height: 100%;
}
header nav > ul > li > a {
  padding: 0.9rem 1rem;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 2.9rem;
  color: white;
}
header nav > ul > li:hover {
  background-color: #bdc3c7;
}
header nav > ul > li:hover a {
  color: #000;
}
header nav > ul > li:last-child:hover .subNav {
  display: block;
}
header #navMobile {
  position: relative;
  height: 2.9rem;
  overflow: hidden;
  transition: 0.5s;
  width: 100%;
}
header #navMobile i {
  color: white;
  position: absolute;
  right: 20px;
  top: 1rem;
  font-size: 1.25rem;
}
header #navMobile ul {
  margin-left: 2rem;
  line-height: 2.9rem;
}
header #navMobile ul li a {
  color: white;
  text-transform: uppercase;
}

.subNav {
  display: none;
  width: 10rem;
}
.subNav li {
  line-height: 2.5rem;
}
.subNav li a {
  text-transform: capitalize;
  font-weight: 700;
}
.subNav li:hover {
  background-color: #bdc3c7;
}

.search i {
  color: white;
  line-height: 2.9rem;
  padding: 0 10px;
  font-size: 22px;
}

#baner {
  margin-top: 2.9rem;
  max-height: 100vh;
  width: 100%;
  z-index: 1;
}

#content {
  margin: 3rem auto 0;
  border: 1px dashed black;
  max-width: 786px;
  z-index: 1;
}
#content #intro .contentIntro {
  margin: 1rem 0 5rem;
  text-align: center;
  line-height: 2rem;
}
#content #intro .contentIntro h2 {
  font-size: 30px;
  padding: 1rem;
}
#content #intro .contentIntro i {
  padding: 1.2rem;
  color: #95a5a6;
}
#content #intro .contentIntro .member {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
#content #intro .contentIntro .member p {
  font-size: 18px;
}
#content #intro .contentIntro .member img {
  max-width: 12rem;
  border-radius: 10px;
}

.introBaner {
  position: absolute;
  bottom: 10%;
}
.introBaner h2 {
  color: white;
}
.introBaner p {
  color: white;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
