@media(min-width:1200px){
    .toggel{
        display: none;
    }
    .menu > .menuItem a {
        font-size: .875rem;
    }
}

@media (min-width: 993px) and ( max-width: 1200px){
    .customer> .user {
        margin-left: 0px;
    }
    .toggel{
        display: none;
    }
}
@media (min-width: 768px ) and ( max-width: 992px ){
    .customer> .user {
        margin-left: 0px;
    }
    .searchAndService .search {
        width: 35%;
    }
    .searchAndService {
        font-size: .8rem;
    }
    #container {
        margin: 0 2%;
    }
    .service {
        width: 48%;
    }
    .customer {
        width: 48%;
    }
    menu > .menuItem {
        padding: 0px 2%;
    }
    header {
        height: 70px;
    }
    .swiper-container {
        margin: 20px 0 ;
      }
}
@media (max-width: 767.9px){
    .service {
        display: none;
    }
.searchAndService {
    width: 78%;
}
.searchAndService .date {
    display: none;
}
.customer {
    display: none;
}
.searchAndService .search {
    width: 100%;
    padding-left: 1rem;
}
.tagSearch .search1 {
    width: 7%;
}
.slideShow {
    height: 100px;
}
.slider {
    height: 100px;
    width: auto;
}
.slide {
    height: 273px;
    width: 100%;
}
.slide > a > img {
    height: auto;
    width: 100%;
}
.toggel{
    display: block;
}
.navMobile {
    right: 40%;
}
.swiper-slide > img {
    height: auto;
}
.swiper-container   {
    height: 100px;
}
.swiper-button-prev{
    display:none;
}
.swiper-button-next{
    display: none;
}
.swiper-container {
    margin: 15px 0 ;
  }
  .category p{
  display: none;
}
}
