.search,
.searchResult {
    width: 361px;
}
.searchResult {
    font-size: 16px;
    .accountSearch {
        margin: 5px 20px;
        color: #959fa6;
        font-weight: 400;
    }
}
.search {
    --width-btn_search: 52px;

    display: flex;
    flex-basis: auto;
    background-color: #f1f1f2;

    height: 46px;
    caret-color: rgb(254, 44, 85);
    border-radius: var(--border-radius);
    padding: 0 0 0 20px;
    border: solid 1.5px transparent;
    position: relative;
    input {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        border: none;
        background: transparent;
        outline: none;
        padding: 0px;
        width: 252px;
        caret-color: rgb(254, 44, 85);
        flex-grow: 2;
        caret-color: var(--primary);
    }
    input:not(:placeholder-shown) ~ .btnIconSearch {
        color: rgba(22, 24, 35, 0.75);
    }
    .spanSpliter {
        width: 1px;
        height: 28px;
        margin: auto 0;
        background: rgba(22, 24, 35, 0.12);
        display: block;
    }
    .btnIconSearch {
        border: none !important;
        outline: none !important;
        height: 100%;
        width: var(--width-btn_search);
        background-origin: content-box;
        border-bottom-right-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
        background-color: transparent;
        color: rgba(22, 24, 35, 0.34);
    }
    .btnIconSearch:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
    .btnIconSearch:active {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.06);
    }

    .clear,
    .loading {
        align-items: center;
        display: flex;
        position: absolute;
        right: calc(var(--width-btn_search) + 18px);
        top: 50%;
        bottom: 50%;
        color: rgba(22, 24, 35, 0.34);
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}
