*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
h2{
    font-weight: 10;
}
html{
    font-family: "FuraCode Nerd Font", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* class dùng chung */
.text-white{
    color: #fff !important;
}
.text-center{
    text-align: center;
}
.row{
   
    margin: 0px -4px;
}
.col-half{
    width: 50%;
    float: left;
}
.col-full{
    width: 100%;
    float: left;
}
.backgroud-test{
    background-color: #1e6f5c;
}
img{
    max-width: 100%;
    height: auto;
}
/* end class dùng chung */
.clear{
    clear: both;
}
#main{
    width:auto;
}
#header{
  height: 46px;
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    right:0px;
}
#nav > ul > li{
    display:inline-block;
    position:relative;   
}
#nav > ul > li > a{
    color: #6e7172;
    text-decoration: none;
    font-size: 20px;
    line-height: 46px;
    display: block;
    padding: 0px 26px;
    border-right: 2px solid #3d3d3d;
    text-transform: uppercase;
}
#header .ti-angle-down{
    font-size: 14px;
   
}
#nav > ul > li:hover > a{
    transition: 1s;
color: #f1f2f6;
background-color: #4c6672;
}

.sudnav{
    padding: 0px 5px;
    display: none;
    position: absolute;
    text-indent: 5px;
    box-shadow: 0 0 0 ,rgb(89, 98, 117,0.3);
}
.sudnav ul li a{
    padding: 5px 10px;
}
#more:hover >.sudnav{
    background-color: #ccc;
     transition: 2s;
    display: block;
}
.sudnav  > ul > li:hover a {
    width: 100%;
    background-color:#6e7172;
    display: block;
   color: #f1f2f6;
}
#slider{
    padding: auto;
   max-width: 100%;
    max-height:600px;
    background-repeat: no-repeat;
}
/* #slider> img {
    margin-top: 46px;
} */
#content{
    width: 100%; 
    height: auto;
    margin-left: auto;
   margin-right: auto;
}
#content >.content_heading > p{
   padding: 0px 2%;
     text-align:justify;
}

.content_heading .tieude{
    line-height: 36px;
    margin-top: 40px;
}
 .tieude {
    text-align: center;
}
#content .container{
    margin-top: 30px;
}
#content .container .introduce{
    width: 33.33333%;
    height: 100%;
    float: left;
    text-align: center;
}
.name p {
    width: 100%;
    font-size: 15px;
    padding: 10px 0px 10px 0px;
    color: #1e6f5c;
}
.introduce > .image > img {
    width: 154px;
    padding: 20px;
    padding:0px 5px;
    border-radius: 14px;
}
.tour_date{
    height: auto;
    background-color: black;
    margin-top: 80px;
    padding-top: 70px;
}
.noidung{
    width: 100%; 
    height: auto;
    margin-left: auto;
   margin-right: auto;
}
.noidung>.text1{
    font-weight: normal;
    color: #f7f3e9;
    
    text-align: center;
}
.text1 > .tieude1{
    font-size: 30px;
    text-transform: uppercase;
    padding-top:80xp;
} 
.text1 > i{
 line-height: 50px;
}
.connect-item{
    text-indent: 20%;
}
#date{
    width:100%;
    height: 590px;
    background-color:#ffff;
    margin-top: 40px;
}
#month >ul>li{
    color: #84817a;
    text-align: left;
    border-bottom: 1px #ccc solid;
    line-height: 40px;
    text-indent: 20px;
   
}
.item-month{
   max-width: 100%;
    height: 386px;
    background-color: #4c6672;
    
}
.item-month ul li{
    width: 33.3333333%;
    height: 386px;
    background-color: royalblue;
    float: left;
    background-color: #ffff;


}
.item-month ul li img{
    width: 96%;
}
.data_even{
    text-align: left;
    padding: 20px 15px 15px 15px;
}
.data_even > h2,p{
    line-height: 31px;
}
.buttom{
    width: 100px;
    height: 36px;
    background-color: #3d3d3d;

}
.buttom:hover{
    background-color: #ccc;
}
.img_even img:hover{
    opacity: 0.6;
}
.connect{
    
    width: 100%;
    height: 310px;
    background-color: #ccc;
    line-height: 37px;
}
.connect>p{
    text-align: center;
}
.text_connect > h2{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 20px;
}
.connect-text{

   padding-top: 70px;

}
.connect-text > h2{
    font-size: 30px;
}
.connect-text > i {
    font-size: 20px;
}
.input-content{
    text-align: left;
    margin-top: 20px;
}
.from-control{
    padding: 8px 14px;
}
.submit{
    text-align: right;
}
.submit >.in {
    background-color: #000;
    padding: 6px 12px;
    color: #fff;
}
.footer{
    width: auto;
    height: auto;
}
.footer > img {
    width: 100%;
}
.info-footer{
    height: 100px;
    text-align: center;
    line-height:100px ;

}
.info-footer >p >i {
    line-height:50px;
    font-size: 25px;
}

