body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  min-width: 320px;
  color: #212121;
}

.m {
  background-color: #95a5a6;
}

.n {
  background-color: blue;
}

.infoTop {
  background-color: #f1f1f1;
}

.phoneNumber {
  padding-left: 15px;
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 1em;
  color: #212121;
}

.phoneNumber .phone {
  display: block;
}

.phoneNumber .phone {
  color: #ff266c;
}

.phoneNumber img {
  height: 7px;
  padding-left: 8px;
}

.navService {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-top: 5px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 1em;
}

.navService div:not(div:last-child) {
  padding: 0 10px;
  border-right: 1px solid #cccccc;
}

.navService div:not(div:last-child) img {
  width: 25px;
}

.navService .inputSearch {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.navService .inputSearch input {
  margin-bottom: 3px;
  padding: 5px 0;
  border: none;
  background-color: #f1f1f1;
}

.navService .inputSearch img {
  width: 16px !important;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.navService .country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navService .country p {
  line-height: 25px;
}

.fa-bars::before {
  font-size: 25px;
  display: none;
}

.containerNav {
  height: 89px;
}

.containerNav .inNav {
  margin-top: 12px;
}

.listItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 15px;
}

.listItem .item {
  padding-right: 15px;
  line-height: 40px;
  position: relative;
}

.listItem .item a {
  color: #212121;
  font-weight: 500;
}

.listItem .item a:hover {
  color: #ff266c;
}

.item:hover > a {
  opacity: 1;
  color: #ff266c;
}

.item:hover > a ~ .subNav {
  opacity: 1;
  z-index: 1;
  top: 98%;
}

.subNav {
  width: 230px;
  position: absolute;
  top: 80%;
  left: -20%;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity linear 0.15s;
  transition: opacity linear 0.15s;
  background: #fff;
  border: 1px solid #f1f1f1;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.subNav .subNavItem {
  padding-left: 5%;
  border: 1px dotted #cccc;
}

.subSearchInput {
  display: none;
}

.subSearchInput .inputSearch {
  line-height: 40px;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.subSearchInput .inputSearch input {
  border: none;
  padding: 10px 0;
}

.subSearchInput .inputSearch img {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  height: 22px;
}

.subSearchBottom {
  display: none;
}

.subSearchBottom .inputSearchMoblie {
  margin: 0 auto;
  border: 1px solid #ccc;
  width: 80%;
}

.subSearchBottom .inputSearchMoblie input {
  line-height: 30px;
  width: 92%;
  border: none;
}

.subSearchBottom .inputSearchMoblie img {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}
/*# sourceMappingURL=main.css.map */