@media (max-width: 768px) {
  .hotLine {
    display: none;
  }
  .subSearchInput {
    display: none !important;
  }
  .subSearchBottom {
    display: block !important;
  }
}

@media (max-width: 1024px) {
  .navBar {
    display: none;
  }
  .fa-bars::before {
    display: block;
  }
}
@media (max-width: 845px) {
  .inputSearch {
    display: none;
  }
  .subSearchInput {
    display: block;
  }
  .inNav {
    margin-top: 0 !important;
    margin-left: 8%;
  }
}
