@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --primary: rgba(254, 44, 85, 1);
    --border-radius: 23px;
    --white: white;
}

html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
button,
select,
input {
    outline: none;
    border: none;
    background-color: #fff;
}
a[href] {
    text-decoration: none;
    color: rgb(22, 24, 35);
    transition: color 250ms ease 0s;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
