@media(max-width:900px){
    .slider{
        width:100%;
    }
    .slider .slide .info {
        position: relative;
        max-width: 80%;
        top: 15%;
        padding: 2% 0;
        margin: 0 auto;
    }
}
@media(max-width:500px){
    .info p{
    line-height: 25px;
    font-size: 1.5rem;
    }
    .info h2{
        font-size: 3rem;
    }
    .slider:hover>.navication{
        opacity: 0;
    }
}